{%load staticfiles%}
<script src='{% static "app/js/jquery.min.js"%}'></script>
<script src='{% static "app/js/validity.js"%}'></script>
<script src='{% static "app/js/button.js"%}'></script>
<script type="text/javascript" src="{% static 'app/js/bootstrap.js'%}"></script>
<script type="text/javascript" src="{% static 'app/js/bootstrap.min.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap-responsive.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap-responsive.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap-theme.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.min.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css'%}">
<div class="container-fluid">
  <div class="row" style="background-color:lavenderblush;">
    <div class="col-xs-6 col-sm-4"><h2><a href="/app">LeaveSystem</a></h2></div>
    <div class="col-xs-6 col-sm-4">{%if user.is_superuser%} <h4><a href="/app/manager">Want To Manage Employees Leave Click Here</a></h4>{%endif%}</div>
    <div class="col-xs-6 col-sm-4">
	{%if user.is_authenticated%}
		<h4 align="right">{{user.get_full_name}} <a href="/app/logout">Logout</a></h4>
	{%else%}
		<h4 align="right"><a href="/app/register">Register</a> / <a href="/app/login">Login</a></h4>
	{%endif%}
	</div>
  </div>
</div>
<hr>
{%block content%}
{%endblock%}</div>
