{%extends "app/base.html"%}
{%block content%}
<title>Home-LeaveSystem</title>
<span style="color:red;">
{{error}}
{% if messages %}
	{%for m in messages%}
		{{m}}
	{%endfor%}
{%endif%}</span>
{%if leaves%}
        <table border="1" class="table">
                <tr>
                        <th>ID</th>
                        <th>start</th>
                        <th>End</th>
                        <th>Description</th>
                        <th>Status</th>
			<th>manager dlg</th>
			<th>cancell</th>
                </tr>
                {%for e in leaves%}
		{%if e.expired %}
                <tr>
                        <th>{{e.pk}}</th>
                        <th>{{e.start_date}}</th>
                        <th>{{e.end_date}}</th>
                        <th>{{e.reason}}</th>
                        <th>{{e.status}}</th>
			<th>{{e.aditional_dlg}}</th>
			<th><form method="POST">{%csrf_token%}
			<input type="text" name="id" value={{e.pk}}  style="display:None;">
			<input type='submit' name='cancell' class="btn-small" value="delete" id="cancell"+{{e.pk}} ></th>
			</form>
                </tr>
		{%endif%}
                {%endfor%}
       </table>
{%endif%}
<div class="col-xs-5 col-sm-3">
<form method="POST" onsubmit="return validateForm()">
        {%csrf_token%}
        Start Date  <br> <input id="sdate" type="date" name="startdate" class="input-block-level" required><br>
	End Date<br> <input id="edate" type="date" name="enddate" class="input-block-level" required><br>
        Reason<br> <input type="text" placeholder="Enter Reason" name="reason" class="input-block-level" required><br>
        <input type="submit" name="addleave" class="btn-small" value="Apply Leave">
</form>
</div>
<div class="col-xs-7 col-sm-5"></div>
<div class="col-xs-6 col-sm-6"></div>
{%endblock%}
