{%extends "app/base.html"%}
{%block content%}
<title>Login-LeaveSystem</title>
<h3>Login</h3>
<span style="color:red;">
{% if submit%}
	{{submit}}
{%endif%}
</span>
<div class="col-xs-6 col-sm-4">
<form action="" method="post">
{%csrf_token%}
    Usename: <br><input type="text" name="username" placeholder="Enter Username" class="input-block-level" id="username" required><br>
    Password<br><div class="password_field  input-block-level1"><input type="password" class="input-block-level1"  placeholder="Enter Password" name="password" id="password"   required>     <button type="button" width="13" height="13" id="pass_show" type="password" onclick="mouseoverPass();" onmouseover="mouseoverPass();" onmouseout="mouseoutPass();" >{% load static %}<img src="{% static "app/img/a.jpg" %}" alt="Search" width="13" height="13"/></button></div><br>
    <input type="checkbox" name="rememberme" ><br> Remember Me<br>
    <input type="submit" class="btn-small" value="login" />
  </form>
</div>
    <div class="col-xs-6 col-sm-4">
{% load static %}<img src="{% static "app/img/twitter.png" %}" value="twitter" onclick="gtsignin('twitter')">
{% load static %}<img src="{% static "app/img/logo11w.png" %}" value="google" onclick="gtsignin('google')" alt="google" height=23px width=151px >
{% load static %}<img src="{% static "app/img/fb.png" %}" value="facebook" onclick="gtsignin('facebook')" height=23px width=151px>
</div>
<div class="col-xs-6 col-sm-4"></div>
{%endblock%}
