{%extends "app/base.html"%}
{%block content%}
<title>Manager-LeaveSystem</title>
<h3>Mange Leaves</h3>
{%if leaves%}
<table border="1" class="table">
                <tr>
                        <th>ID</th>
			<th>employee name</th>
                        <th>start</th>
                        <th>End</th>
                        <th>Reason</th>
                        <th>Status</th>
                        <th>action reason</th>
                        <th>submit</th>
                </tr>
                {%for e in leaves%}
                <tr>
			<form method="POST">{%csrf_token%}
                        <th>{{e.pk}}</th>
			<th>{{e.employee.user.get_full_name}}({{e.employee.user.username}})</th>
                        <th>{{e.start_date}}</th>
                        <th>{{e.end_date}}</th>
                        <th>{{e.reason}}</th>
                        <th>
			   <select name="selectstatus" id="status"+{{e.pk}}>
			   <option value={{e.status}}>{{e.status}}</option>
			   {%if e.status != 'pending'%}
			   <option value="pending">pending</option>{%endif%}
			  {%if e.status != 'accept'%} <option value="accept">accept</option>{%endif%}
        		 {%if e.status != 'reject'%}  <option value="reject">reject</option></select>{%endif%}
			</th>
                        <th><input type="text" name="mngdlg" value={{e.aditional_dlg}}></th>
                        <th><input type="text" name="id" value={{e.pk}} style="display:None;">
                        <input type='submit' class="btn-small" name='update' value="update" id="cancell"+{{e.pk}} ></th>
                        </form>
                </tr>
                {%endfor%}
       </table>
{%endif%}
{%endblock%}
