{%extends "app/base.html"%}
{%block content%}
<title>Register-LeaveSystem</title>
<h3>Register</h3>
<span style="color:red;">
{%if submit%}
	{{submit}}
{%endif%}
</span>
<div class="col-xs-6 col-sm-4">
<form method="post" onsubmit="return passwordmatch()">
	{%csrf_token%}
	UserName<br><input type="username" placeholder="Enter UserName" name="username" class="input-block-level"  tabindex=1 required><br>
	Email<br><input type="email" name="email"   placeholder="Enter Email" class="input-block-level" tabindex=2 required><br>
	Password<br><div class="password_field input-block-level1"><input type="password" name="password" id="password" class="input-block-level1" tabindex=3 placeholder="Enter Password" required>     <button type="button" width="13" height="13" id="pass_show" type="password" onclick="mouseoverPass();" onmouseover="mouseoverPass();" onmouseout="mouseoutPass();" >{% load static %}<img src="{% static "app/img/a.jpg" %}" alt="Search" width="13" height="13"  /></button></div>
       <br>
ConfirmPassword:<br><div class="password_field input-block-level1"><input type="password" name="rptpassword" id="rptpassword" class="input-block-level1 " tabindex=4 placeholder="Reenter Password" required>
       <button type="button" width="13" height="13" id="pass_show" type="password" onclick="mouseoverPass();" onmouseover="mouseoverPass();" onmouseout="mouseoutPass();" >{% load static %}<img src="{% static "app/img/a.jpg" %}" alt="Search" width="13" height="13"/></button></div>
<br>	First Name<br><input type="text" name="first_name" tabindex=5  class="input-block-level" placeholder="Enter FirstName" required><br>
	Last Name<br><input type="text" name="last_name" tabindex=6 class="input-block-level" placeholder="Enter LastName" required><hr>
	<input type="submit" class="btn-small" name="register">
 {%csrf_token%}
</form>
</div>
    <div class="col-xs-6 col-sm-4">
{% load static %}<img src="{% static "app/img/twitter.png" %}" value="twitter" onclick="gtsignin('twitter')">
{% load static %}<img src="{% static "app/img/logo11w.png" %}" value="google" onclick="gtsignin('google')" alt="google" height=24px width=151px >
{% load static %}<img src="{% static "app/img/fb.png" %}" value="facebook" onclick="gtsignin('facebook')" height=23px width=151px>
</div>
<div class="col-xs-6 col-sm-4"></div>
{%endblock%}
